<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configProtectedData>
		<providers>
			<add name="MueblesAlpesProvider" type="System.Configuration.RsaProtectedConfigurationProvider" keyContainerName="MueblesAlpesKeys" useMachineContainer="true" />
		</providers>
	</configProtectedData>

	<connectionStrings configProtectionProvider="MueblesAlpesProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>pZAygePvFUI5NzWBbsD+qvozmORXNrbIBUBssBnHh3bL0RE+5kPgsR+nAz2myqxTlJKEhhwv1WSXDTWh0hHa4eri0VfoduYABFkVcIG9Unni6sN45ZjlWj5nUtK6+KvMUhFzqUVs8x2vznDFr0bumwP1aWTFngwl22Lkcl0CzUxQd70ep7JxX/jdMJbyLD3UReCpIhl4YXxsd/FdqHsaShpa/quy14WW/L/eAub7Gu+qVcgnbhoJMMyCWWFnc5preMl2/DfY82kG2VsasTBcPrWjfyrhmWao+W59SGeFW4ojUZ1v06rCeUs5GeAaD61y5fM6BA7D9j/uY4rMx/2YbA==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>NI6aDACk+Gc6jqhZlvP81oPM6mvVjdYPYO4CS1EVOzLHiheypetZRP3d07v9QQwta8QbSpRYrBZQDZzJ9L6vdlDkYAcSC2DgQpYYLv7HdbPgl1VN9FBMcenBchW0aLy52ooskyZfh66ALYHrakND6F+jAdQGUUAD39tc5I7WpuC3CCf/lyM/PggbnkZjmFO+ekM14BJJwhwsRxVMQsgfn/KMs1pgedlw0cm3h01Be/JKpvj2jFIPLNayc+w7p7b0kcfm5Q6nzKk6w5Of9HHgR4KvQvgv0WstSm6PdYXZgsqhQ1ECcvVHzymTlYpQBdkH2kq0Dk6TdEmnvQP1FbMRkQ==</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStrings>

	<system.web>
		<!-- ── Sesión extendida a 8 horas para evitar deslogueos por inactividad ── -->
		<sessionState mode="InProc" timeout="480" cookieless="false" />
		<compilation debug="false" strict="false" explicit="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" enableVersionHeader="false" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<customErrors mode="RemoteOnly" defaultRedirect="~/Default.aspx" />
		<machineKey validationKey="6F0236B3534A116B069FBFB1F58FD04588A076FC52DF58170C15719F1CFF90ECF0358DC08EB513E097374EC1721BF8221DDBACF7BDEA4D78D3C638F44E5E7C91" decryptionKey="F76E2528DB5BA1EEF64B0DDD6310229CC97098F002FEC3F7AF4B26B89368E514" validation="HMACSHA256" decryption="AES" />
		<pages validateRequest="true" viewStateEncryptionMode="Always" enableViewStateMac="true">
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
				<!-- 
					CAMBIOS EN Content-Security-Policy:
					1. frame-src: agregado para permitir el iframe de Power BI via proxy HTTPS
					2. connect-src: agregado https://192.168.0.99 para recursos del reporte
					3. img-src: agregado https://192.168.0.99 para imagenes del reporte
					4. frame-ancestors: cambiado de 'none' a 'self' para permitir iframes internos
				-->
				<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; font-src 'self' https://fonts.gstatic.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://192.168.0.99; connect-src 'self' https://cdn.jsdelivr.net https://192.168.0.99; frame-src 'self' https://192.168.0.99; frame-ancestors 'self';" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="ReverseProxyInboundRule1" stopProcessing="true">
					<match url="^(reports/.*)$" />
					<action type="Rewrite" url="http://192.168.0.90:80/{R:1}" />
				</rule>

				<rule name="ReverseProxyInboundRule2" stopProcessing="true">
					<match url="^(powerbi.*)$" />
					<action type="Rewrite" url="http://192.168.0.90:80/{R:1}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
					<match filterByTags="A, Form, Img" pattern="^http(s)?://192.168.0.90:80/(.*)" />
					<action type="Rewrite" value="http{R:1}://192.168.0.99/{R:2}" />
				</rule>
				<preConditions>
					<preCondition name="ResponseIsHtml1">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
						<!-- FIX 500.52: No aplicar reescritura si la respuesta está comprimida con gzip -->
						<add input="{RESPONSE_CONTENT_ENCODING}" pattern="gzip" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
			<!--
			<rules>
				<rule name="HTTP a HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
			-->
		</rewrite>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>

</configuration>